# gitignore template for the Cordova framework
# website: https://cordova.apache.org/
#
# Recommended template: Node.gitignore
/trycordova/node_modules/

# App platform binaries and built files
/trycordova/platforms/

# Optional to ignore plugin Git clones
/trycordova/plugins/
